@import "../../data/assets/style/style_import.scss";

.aboutUsContainer {
    .snacks {
        color: $secondary;
    }

    .brownBorder {
        border-bottom: 1px solid $secondary;
        width: 20%;
    }

    .aboutUs {
        font-family: $font-family-secondary;
        color: $tertiary;
        opacity: 0.9;
    }

    .bottom-50 {
        position: absolute !important;
        bottom: 50px;
        font-size: $font-size-lg;
    }

    .buyButton {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $white;
        font-family: $font-family-secondary;
        margin-top: 20px;
        padding: 10px;
        position: absolute !important;
        bottom: 50px;
        font-size: 20px;
        font-weight: 900;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }
    }

    @media only screen and (max-width: 767px) {
        font-size: 21px;

        .indent {
            padding: 0px !important;
            padding-top: 40px !important;
        }

        .aboutUs {
            font-size: 14px;
        }

        .buyButton {
            bottom: 7px;
            font-size: 12px;
            padding: 7px !important;
        }
    }

    @media only screen and (min-width: 600px) and (max-width: 996px) {
        .buyButton {
            bottom: 22px;
        }
    }
}
